@tailwind base;
@tailwind components;
@tailwind utilities;

.input:has(> input[disabled]), .input-disabled, .input:disabled, .input[disabled], .select:disabled, .textarea:disabled {
    cursor: not-allowed;
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b2, oklch(var(--b1) / var(--tw-bg-opacity)));
    color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}